<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ path('admin_home') }}">Prossimo
            <small>administration</small>
        </a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-left">
        <li>
            <a href="http://app.prossimo.us/">
                <i class="fa fa-bolt fa-fw"></i> ProssimoAPP
            </a>
        </li>
    </ul>

    <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-alerts">
                <li>
                    <a href="#">
                        <div>
                            <i class="fa fa-user fa-fw"></i> 3 New customers
                            <span class="pull-right text-muted small">12 minutes ago</span>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#">
                        <div>
                            <i class="fa fa-tasks fa-fw"></i> New Task
                            <span class="pull-right text-muted small">4 minutes ago</span>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a class="text-center" href="#">
                        <strong>All appointments</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
            </ul>
            <!-- /.dropdown-alerts -->
        </li>
        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="{{ path("fos_user_profile_show") }}"><i class="fa fa-user fa-fw"></i> User Profile</a>
                </li>
                <li><a href="{{ path("admin_settings") }}"><i class="fa fa-gear fa-fw"></i> Settings</a>
                </li>
                <li class="divider"></li>
                <li><a href="{{ path("fos_user_security_logout") }}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">

                <li>
                    <a href="{{ path('admin_dashboard') }}" title="{{ 'dashboard.description' |trans({}, 'AppBundle') }}"><i class="fa fa-dashboard fa-fw"></i> {{ 'dashboard.title' |trans({}, 'AppBundle') }}</a>
                </li>

                <li>
                    <a href="#"><i class="fa fa-wrench fa-fw"></i> Objects<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="{{ path('admin_projects') }}">{{ 'projects.title' |trans({}, 'Entities') }}</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_users') }}">{{ 'user.title' |trans({}, 'Entities') }}</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_files') }}">{{ 'admin_files.title' |trans({}, 'AppBundle') }}</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>

                <li>
                    <a href="#"><i class="fa fa-gear fa-fw"></i> Settings<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="{{ path('admin_settings_thumbnails') }}">{{ 'setting.pages.thumbnails' |trans({}, 'AppBundle') }}</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_backup_settings') }}">{{ 'setting.pages.backups' |trans({}, 'AppBundle') }}</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>

                {#<li>#}
                {#<a href="{{ path('admin_settings') }}" title="{{ 'setting.description' |trans({}, 'AppBundle') }}"><i class="fa fa-gear fa-fw"></i> {{ 'setting.title' |trans({}, 'AppBundle') }}</a>#}
                {#</li>#}

                <li>
                    <a href="{{ path('admin_backup') }}" title="{{ 'backup.description' |trans({}, 'AppBundle') }}"><i class="fa fa-database fa-fw"></i> {{ 'backup.title' |trans({}, 'AppBundle') }}</a>
                </li>

                <li>
                    <a href="{{ path("nelmio_api_doc_index") }}" target="_blank" title="API Documentation page. Will be opened in the new window"><i class="fa fa-file-text fa-fw"></i> API Documentation <i class="fa fa-external-link fa-fw"></i></a>
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>
