{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}">
    <link rel="stylesheet" href="{{ asset('css/timeline.css') }}">
    <link rel="stylesheet" href="{{ asset('css/sb-admin-2.css') }}">
    <link rel="stylesheet" href="{{ asset('css/morris.css') }}">
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/metisMenu.min.js') }}"></script>
    <script src="{{ asset('js/raphael-min.js') }}"></script>
    <script src="{{ asset('js/morris.min.js') }}"></script>
    <script src="{{ asset('js/sb-admin-2.js') }}"></script>
    <script>
        window.prossimo = {
            api_base_path: '{{ api_base_path }}'
        };
    </script>
{% endblock %}

{% block body %}
    <div id="wrapper">
        {% include(":Admin/include:nav.html.twig") %}

        <div id="page-wrapper" style="min-height: 875px;">
        {% block content %}{% endblock %}
        </div>
    </div>

    {% include(':Admin/include:footer.html.twig') %}
{% endblock %}