{% extends 'Admin/layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Project: #{{ parent_entity.id }} ({{ parent_entity }}) /
                {{ 'files.pages.index' |trans({}, 'AppBundle') }}
                <small>List</small>
            </h1>
        </div>
        <!-- /.col-lg-12 -->
        <div class="col-lg-12">
            {% include '::_flash.html.twig' %}
        </div>
    </div>

    <!-- Project section navigation -->
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li><a href="{{ path('admin_projects') }}" title="{{ 'projects.description' |trans({}, 'AppBundle') }}"><i class="fa fa-list fa-fw"></i> {{ 'projects.title' |trans({}, 'AppBundle') }}</a></li>
                <li class="active">{{ 'files.title' |trans({}, 'AppBundle') }}</li>
            </ol>
        </div>
    </div><!-- /Project section navigation -->

    <div class="row">
        <div class="col-lg-12">
            <div class="btn-group">
                <a class="btn btn-success" title="Create new project file" href="{{ path('admin_project_files_create', {'project_id': parent_entity.id}) }}">
                    <i class="glyphicon glyphicon-plus"></i> {{ 'actions.create' |trans({}, 'AppBundle') }}
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <table class="records_list table table-striped">
                <caption>Files (Regular storage)</caption>
                <thead>
                <tr>
                    <th>{{ 'binary_files.fields.uuid' |trans({}, 'Entities') }}</th>
                    <th>File info</th>
                    <th>Audit</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr id="{{ entity.uuid }}">
                        {% if(entity.contentType != 'application/pdf') %}
                            <td class="text-center image-td">
                                <div class="loading"></div>
                                <small>{{ entity.uuid }}</small>
                            </td>
                        {% else %}
                            <td class="text-center pdf-td">
                                <div class="loading-pdf"></div>
                                <small>{{ entity.uuid }}</small>
                            </td>
                        {% endif %}

                        <td>
                            <dl class="dl-horizontal">
                                <dt>{{ 'binary_files.fields.original_name' |trans({}, 'Entities') }}</dt>
                                <dd>{{ entity.originalName }}</dd>

                                <dt>{{ 'binary_files.fields.content_type' |trans({}, 'Entities') }}</dt>
                                <dd>{{ entity.contentType }}</dd>

                                <dt>{{ 'binary_files.fields.size' |trans({}, 'Entities') }}</dt>
                                <dd>{{ entity.size }}</dd>

                                <dt>{{ 'binary_files.fields.filesystem' |trans({}, 'Entities') }}</dt>
                                <dd>{{ entity.filesystem }}</dd>

                                <dt>{{ 'binary_files.fields.filesystem_name' |trans({}, 'Entities') }}</dt>
                                <dd>
                                    <small>{{ entity.filesystemName }}</small>
                                </dd>
                            </dl>
                        </td>

                        <td>
                            <dl class="dl-horizontal">
                                <dt>{{ 'auditable.fields.created_by' |trans({}, 'Entities') }}</dt>
                                <dd>{{ entity.createdBy }} <br/>
                                    <small>
                                        <nobr>{{ entity.createdAt|date('Y-m-d H:i:s') }}</nobr>
                                    </small>
                                </dd>
                                <dt>{{ 'auditable.fields.updated_by' |trans({}, 'Entities') }}</dt>
                                <dd>{{ entity.updatedBy }} <br/>
                                    <small>
                                        <nobr>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</nobr>
                                    </small>
                                </dd>
                            </dl>
                        </td>

                        <td>
                            <a class="btn btn-danger btn-sm" href="{{ path('admin_project_files_delete', {'project_id': parent_entity.id, 'uuid':entity.uuid}) }}" title="{{ 'actions.delete' |trans({}, 'AppBundle') }}">
                                <i class="glyphicon glyphicon-remove"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade bs-example-modal-lg" id="imgPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Image preview</h4>
                </div>
                <div class="modal-body text-center">
                    <img id="preview" src="{{ asset('img/loading.gif') }}"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/xhr.binary.transport.js') }}"></script>
    <script src="{{ asset('js/jwt.session.workaround.js') }}"></script>
    <script>
        var token, user = null;

        $(document).ready(function () {
            token = window.localStorage.getItem('prossimo.token');
            if (token == null)
                getJwtToken().then(tokenReceivedSuccess, tokenReceiveError);
            else
                main();
        });

        function tokenReceivedSuccess(data) {
            if (data.success == true) {
                token = data.data.token;
                console.log('TOKEN:', token);
                user = data.data.user;
                console.log('USER:', user);
                window.localStorage.setItem('prossimo.token', token);
                main(); // run main function only when token was received
            } else
                console.log('Token error:', data.errors);
        }

        function main() {
            $('.loading').html('<a href="#" onclick="showFullImage(this); return false;"><img style="max-width: 32px; max-height: 32px;" src="{{ asset('img/loading.gif') }}"></a> <span>loading...</span>');
            $('.loading-pdf').html('<a href="#" onclick="return false;"><img style="max-width: 32px; max-height: 32px;" src="{{ asset('img/loading.gif') }}"></a> <span>loading...</span>');

            loadImages();
        }

        function showFullImage(el) {
            var uuid = $(el).parent().parent().closest('tr').attr('id');
            var url = window.prossimo.api_base_path + '/api/files/' + uuid + '/download';

            $.ajax({
                method: "GET",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", "Bearer " + token);
                },
                dataType: "binary",
                url: url,
                cache: true,
                processData: false,
                success: function (img) {
                    var urlCreator = window.URL || window.webkitURL;
                    $('div.modal-body img').replaceWith('<img id="' + uuid + '-image" src="' + urlCreator.createObjectURL(img) + '">');
                    $('#' + uuid + '-image').css({
                        'maxWidth': '860px',
                        'maxHEight': '700px'
                    });
                    $('#imgPopup').modal('show');
                },
                error: function (error, txtStatus) {
                    console.log('Load images error: ', txtStatus);
                }
            });
        }

        function loadImages() {
            $('table.records_list tbody tr').each(function (index, value) {
                if ($(this).children('td.image-td').length) { // if file is image
                    var uuid = $(this).attr('id');
                    var url = window.prossimo.api_base_path + '/api/files/' + uuid + '-thumbnail/download';
                    $.ajax({
                        method: "GET",
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("Authorization", "Bearer " + token);
                        },
                        dataType: "binary",
                        url: url,
                        cache: true,
                        processData: false,
                        success: function (img) {
                            var urlCreator = window.URL || window.webkitURL;
                            var loaderDiv = $("#" + uuid + " .loading");
                            loaderDiv.find("span").remove();
                            loaderDiv.find("img")[0].src = urlCreator.createObjectURL(img);
                            loaderDiv.find("img")[0].style.maxWidth = 'none';
                            loaderDiv.find("img")[0].style.maxHeight = 'none';
                        },
                        error: function (error, txtStatus) {
                            console.log('Load images error: ', txtStatus);
                        }
                    });
                }
                if ($(this).children('td.pdf-td').length) { // if file is pdf
                    var uuid = $(this).attr('id');
                    var url = window.prossimo.api_base_path + '/api/files/' + uuid + '-thumbnail/download';
                    $.ajax({
                        method: "GET",
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("Authorization", "Bearer " + token);
                        },
                        dataType: "binary",
                        url: url,
                        cache: true,
                        processData: false,
                        success: function (img) {
                            var urlCreator = window.URL || window.webkitURL;
                            var loaderDiv = $("#" + uuid + " .loading-pdf");
                            loaderDiv.find("span").remove();
                            loaderDiv.find("img")[0].src = urlCreator.createObjectURL(img);
                            loaderDiv.find("img")[0].style.maxWidth = 'none';
                            loaderDiv.find("img")[0].style.maxHeight = 'none';
                        },
                        error: function (error, txtStatus) {
                            console.log('Load images error: ', txtStatus);
                        }
                    });
                }
            });
        }
    </script>
{% endblock %}
